// License: cc0
// https://creativecommons.org/publicdomain/zero/1.0/

@import "compass/reset";
@import "compass/css3";

// Dimensions of the videos
$vidw: 400px;
$vidh: 600px;

/* Defaults */
$colorA: #023;
$colorB: #ffe;
$colorC: adjust-hue($colorB, 45deg);

html, body, .wrapper, .page, #videos {
    height: 100%;
}
body {
    @include background(linear-gradient(to bottom, #bbb, white 70%, #bbb));
    color: $colorB;
}
a {
    color: $colorC;
}

/* General layout */
#srcvid {
    display: none;
}
.wrapper {
    /* Must do this due to crazy scrollbars appearing */
    overflow: hidden;
}
.page {
    width: $vidw;
    margin: 0 auto;
    position: relative;
}

/* Controls */
%hoverbox {
    position: relative;
    background: transparentize(black, 0.7);
    @include border-radius(0.75em);
    @include box-shadow(0 0 0.5em transparentize(gray, 0.5));
    padding: 0.5em;
    margin: 1em;
    z-index: 100;
    text-align: center;
    font-size: 75%;
}
#controls {
    @extend %hoverbox;
    a {
        text-decoration: none;
    }
}
.button {
    display: inline-block;
    padding: 0.1em;
    background: lighten($colorA, 25%);
    @include border-radius(0.2em);
}
.button-playpause {
    @extend .button;
    width: 20%;
}
#slider {
    width: 60%;
    margin-left: 2%;
    display: inline-block;
}
#buffering-message {
    @extend %hoverbox;
    position: absolute;
    right: 0;
    left: 0;
    display: none;
}

/* Videos container */
#videos {
    @include perspective(1000px);
    @include transform-style(preserve-3d);
    height: $vidh;
    width: $vidw;
    margin-top: 3em;
}
.carousel-zoom {
    @include transform(translateZ(550px));
    @include transform-style(preserve-3d);
}
.carousel {
    transition-property: transform;
    transition-duration: 0.5s;
    @include transform-style(preserve-3d);
}

/* Videos appearance */
.video-cell {
    position: absolute;
    width: $vidw;
    height: $vidh;
    text-align: center;
}

/* Setup the angles of the videos */
$numVideos: 7;
$step: 360 / $numVideos;

$i: 0;
@while $i < $numVideos {
#cage-#{$i} {
    @extend .video-cell;
    transform: rotateY(-#{$step * ($i + 2)}deg) translateZ(-450px);
}
$i: $i + 1;
}

/* Help text */
#help {
    position: fixed;
    width: $vidw;
    left: auto;
    right: auto;
    bottom: 1.2em;
    text-align: center;
    color: lighten(black, 30%);
    text-shadow: 1px 1px 0 white;
    font-size: 90%;
    box-sizing: border-box;
    padding: 0.25em;
    @include border-radius(0.25em);
    a {
        color: black;
    }
    @media screen and (max-height: 920px) {
        background: transparentize(white, 0.2);
    }
}

/* Warning for bad browsers */
.warning {
    @extend %hoverbox;
    line-height: 125%;
    display: none;
}

/* (Maybe) a good browser, but js is disabled */
.no-js {
    .warning.noscript,
    .warning.link-to-video {
        display: block;
    }
    /* Also hide the controls if we don't have JS */
    #controls,
    #buffering-message {
        display: none;
    }
}
